@model WebApp.Models.ProductsView

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/_Categories.cshtml", Model)
<div>
    @Html.Partial("~/Views/Shared/_Carousel.cshtml", Model)

    @Html.Partial("~/Views/Products/_Products.cshtml", Model)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/bootstrap.bundle.min.js")
}