@model WebApp.Models.ProductsView

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-12">
    <div class="form-group">
        <div class="col-md-3 col-md-offset-4 no-right-padding" style="padding-right:0;">
            <input type="text" id="s_input" placeholder="search something" class="form-control no-right-padding" cols="6">
        </div>
        <div class="col-md-3" style="padding-left:0;">
            <button onclick="dosearch()" class="btn btn-default">
                <i class="glyphicon glyphicon-search"></i> Search
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="well col-md-10 col-md-offset-1" id="well_hid" style="margin-top:10px;">
        <h4 id="s_head" align="center" style="margin-top:0;">Search Results</h4>
        <hr />
        <div id="p_res"></div>
    </div>
</div>

<div >
    @Html.Partial("~/Views/Shared/_Categories.cshtml", Model)
</div>
<div>
    @Html.Partial("~/Views/Shared/_Carousel.cshtml", Model)

    @Html.Partial("~/Views/Products/_Products.cshtml", Model)
</div>



<script>
    $('#well_hid').hide();
    var myappurl = {
        myurl: '@Url.Action("Search", "Products")'
    };

    function dosearch() {
        var s = $('#s_input').val();

        $.ajax({
            type: "POST",
            url: myappurl.myurl,
            data: JSON.stringify({ s_str: s }),
            contentType: "application/json",

            success: function (res) {
                $('#well_hid').show();
                $('#p_res').html(res);

            }
        });
    }
</script>


