body {
    margin-top: 60px;
    background-image:url("bg.jpg");
    background-attachment: fixed;
    background-size: cover;
}

/* Set padding to keep content from hitting the edges */

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a {
    color:black;
    padding:inherit;
    text-decoration:none !important;
}

[hidden] {
    display:none !important;
}

.user-avatar {
    width:200px;
    height:200px;
}

.top10 {
    padding-top: 10px !important;
    margin-top:10px !important;
}

.badge {
    background-color:slategrey;
}
#nav-btn {
    background-color:green !important;
}

.t-description {
    height:20px;
    overflow:hidden;
    text-overflow:ellipsis;
}
hr {
    margin-bottom:5px;
    margin-top:5px;
}

.badge-big {
    background-color:forestgreen;
}

#logo {
    float:left;
    font-size:1.7em;
    text-transform:uppercase;
    font-weight:bold;
}